        .background {
            background-color: #30302f;
        }    
        .navbar {
            background-color:#b31bb5;
            overflow:hidden;
            padding:0px;
        }
        .navbar li:hover {
            background: rgb(0,0,0);
            background: radial-gradient(circle, rgba(47,42,42,1) 0%, rgba(179,27,181,1) 50%);
        }
        .navbar a {
            color: white;
            font-size: 24px;
            padding: 16px;
            display: inline-block;
            text-decoration: none;
        }
        .navbar li {
            list-style-type: none;
            float: left;
        }
        .dropdown-content li {
            float: none;

        }
        .dropdown:hover .dropdown-content {
            display:block;
        }
        .dropdown-content {
            padding: 0px;
            background-color:#b31bb5;
            display: none;
            position: absolute;
            z-index: 1;
        }
        .navbar .active {
            background: rgb(0,0,0);
            background: radial-gradient(circle, rgba(47,42,42,1) 0%, rgba(179,27,181,1) 50%);
        }
        .titletext {
            font-size: 30px;
            text-align: center;
            font-family: Helvetica;
            color: white;
        }