        .background {
            background-color: #30302f;
        }    
        .navbar {
            background-color:#942323;
            overflow:hidden;
            padding:0px;
        }
        .navbar li:hover {
            background: rgb(0,0,0);
            background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(80,19,19,1) 1%, rgba(148,35,35,1) 50%);
        }
        .navbar a {
            color: white;
            font-size: 24px;
            padding: 16px;
            display: inline-block;
            text-decoration: none;
        }
        .navbar li {
            list-style-type: none;
            float: left;
        }
        .dropdown-content li {
            float: none;

        }
        .dropdown:hover .dropdown-content {
            display:block;
        }
        .dropdown-content {
            padding: 0px;
            background-color:#942323;
            display: none;
            position: absolute;
        }
        .navbar .active {
            background: rgb(0,0,0);
            background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(80,19,19,1) 1%, rgba(148,35,35,1) 50%);
        }