.resumetext {
    color: white;
    font-family: Helvetica;
    text-align: center;
    font-size: 12px;
}
.resumeheader {
    color: white;
    font-family: Helvetica;
    text-align: center;
    font-size: 25px;
}
.smallerheader {
    color: white;
    font-family: Helvetica;
    text-align: center;
    font-size: 25px;
}
li {
    list-style-type: none;
}